<mat-tab-group>
    <mat-tab label="Upload Art" style="background-color: grey;">
        <div class="container-fluid justify-content-md-center feed-box">
            <div class="row middle-box" >
                <div class="col-sm-3 middle-box">
                    <mat-card class="example-card">
                        <img mat-card-image style="padding: 5px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content style="font-family: monospace;">
                          <form>
                            <mat-form-field class="example-full-width">
                                <mat-label>Add Description</mat-label>
                                <input matInput placeholder="Enter Description">
                            </mat-form-field>
                          </form>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>  
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="About Me">
        <div class="container-fluid justify-content-md-center feed-box">
            <div class="row middle-box">
                <div class="col-sm-4 custom-card-container profile">
                    <mat-list>
                        <div mat-subheader>
                            <h1 class="user-name-caption">Hello, Rajat</h1>
                        </div>
                        <mat-list-item>
                            <div class="custom-card" routerLink="/revive-password">Change Password</div>
                        </mat-list-item>
                        <mat-list-item>
                            <div class="custom-card"><span class="material-icons">
                                    power_settings_new
                                </span>Sign out</div>
                        </mat-list-item>
                    </mat-list>
                </div>
                <div class="col-sm-8 custom-card-container profile-router">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>