::ng-deep .mat-ink-bar {
    display: none;
}

::ng-deep .mat-tab-label {
    color: white;
    margin: 5px 25px 5px 25px;
    border-radius: 20px;
    background-color: #262228;
    font-weight: 500;
    font-size: x-large;
    opacity: 1;
    font-family: monospace;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
    background-color: #b82601;
    opacity: 1;
}